name: sketchshare
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  
  firebase_core: ^2.24.0
  firebase_auth: ^4.15.3   
  cloud_firestore: ^4.15.3
  firebase_storage: ^11.5.0
  

  image_picker: ^1.1.2
  path_provider: ^2.1.3
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
 